# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Mac OS X files
.DS_Store

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 

# OpenAPI files
openapi_old.yml
openapi_new.yml

# Instructions
SDK_UPDATE_INSTRUCTIONS.md 
/bin/
